body, html {
    padding: 0;
    height: 0;
    height: 100vh;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}  

#embed {
    width: 100%;
    height: 100%;
}

#tool-btn-cont {
    height: 50px;
    background-color:rgba(0, 0, 0, 0);
    align-items: end;
}

#tools-btn {
    width: 100px;
    height: 20px;
    transition: 1s;
    text-align: center;
}

#tools-btn:hover {
    width: 100px;
    height: 40px;
    content: "Tools";
}

#tool-box {
    height: 100%;
    overflow-y: scroll;
}

#save-btn {
    transition: .3s;
}

#range-label {
    color: rgb(0, 0, 0);
}

.tab-content {
    width: 100%;
    height: 100%;
}

.tab-pane {
    width: 100%;
    height: 100%;
}

#tabs {
    width: 100%;
    height: 100%;
}

#designer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: rgb(63, 63, 63);
}

#designer-body {
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}

.design-row {
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
    position: relative;
}
.resizer {
    position: absolute;
}

.resizer-t {
    width: 100%;
    height: 5px;
    cursor: row-resize;
}

.resizer-b {
    width: 100%;
    height: 5px;
    cursor: row-resize;
}

.design-column {
    width: 50%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 1px dotted;
    background-color: rgba(83, 255, 83, 0.3);
}

